/* general css */
html,
body {
    font-size: 14px;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    /* height: 100%; */
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* top main nav css */
.top-bar {
    background-color: rgb(54, 152, 213);
    /* height: 50px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align horizontal */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* align vertical */
}

.main-nav {
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
    margin-bottom: 0;
    padding: 0px 61px;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link {
    font-size: 14px !important;
    font-family: "Open Sans";
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(0, 0, 0, .5) !important;

}

/* change the color of active or hovered links */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: rgb(54, 152, 213) !important;

}

.nav-item {
    position: relative;
}

.nav-link {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(99, 99, 99) !important;
    text-transform: uppercase;
    /* line-height: 4.286; */
    text-align: center;
    text-indent: 2.65px;
}

.navbar-nav li {
    padding: 24px 27px;
}

.navbar-nav li::after {
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    content: '';
    display: block;
    float: left;
    background-color: lightgray;
    ;
    width: 1px;
    height: 11px;
    position: absolute;
    right: 0;
    top: 38px;
}

.navbar-nav li:last-child::after {
    content: '';
    width: 0px;
}

.rss-feed {
    text-align: center;
}

.language li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 5px 9px;
}

.language {
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.rss-feed {
    font-size: 11px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.rss-feed {
    font-size: 12.5px;
    font-weight: bold;
}

/* .main-nav{
    box-shadow: -0.53px 0.848px 1px 0px rgba(13, 17, 20, 0.51);
} */
.eng {
    background-color: rgb(189, 189, 189);
    cursor: pointer;
}

.pl {
    background-color: rgb(255, 173, 0);
    cursor: pointer;
}

/* main banner */
.banner-info {
    background: #f1f5f7;
    height: 588px;
    /* margin-top: 91px; */
    /* padding-left: 200px; */
    position: relative;

}

.info-left,
.info-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* .banner-info{
      padding: 31px 0px 215px;
} */
.info-left>h1 {
    font-size: 48px;
    font-family: "Open Sans Condensed";
    color: rgb(241, 107, 108);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
}

.info-left p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(100, 100, 100);
    line-height: 1.5;
    text-align-last: center;
    width: 63%;
}

.small-text {
    font-size: 21px;
    font-family: "Open Sans Condensed";
    color: rgb(241, 107, 108);
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    text-indent: 2.65px;
}

.banner-images {
    /* position: absolute; */
    margin-top: -106px;
    /* padding: 0px 40px 0px 40px; */
    padding: 0px 38px 0px 54px;
}

#mobile-images{
    display: none;
}


.text {
    text-align: center;
}

.col>img {
    width: 100%;
    height: 100%;
}

/* for_her css */
.for_her_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* margin-top: 201px; */
    padding-top: 240px;
    color: white;
}

.for-us_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* margin-top: 201px; */
    padding-top: 40px;
    color: white;
}

.for_her_header h1 {
    font-size: 48px;
    font-family: "Open Sans Condensed";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
}

.for_her_header p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    width: 40%;
    margin: 38px 0px;
}

.for_us_header p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    width: 40%;
    margin: 38px 0px;
}

.for_us_header,
.for_him_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* margin-top: 201px; */
    padding-top: 40px;
    color: white;
}

.for_him_header p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    width: 40%;
    margin: 38px 0px;
}

.for_him_header h1 {
    font-size: 48px;
    font-family: "Open Sans Condensed";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
}

.header_line {
    border: 1px solid rgb(255, 255, 255);
    margin-top: 20px;
    width: 109px;
    height: 1px;
}

.for_her_card {
    /* width: 240px; */
    width: 230px;
    /* height: 199px; */
}

.for_her_card h1 {
    font-size: 17px;
    font-family: "Open Sans Condensed";
    color: rgb(241, 107, 108);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;

}

.for_her_card img {
    width: 100%;
    height: 148px;
}

#for_her {
    background: rgb(241, 107, 108);
    height: auto;
    margin-top: -172px;
    /* padding: 30px; */
}

#for_me,
#for_him {
    background: rgb(241, 107, 108);
    height: auto;
    padding: 30px;

}

.her_card {
    margin: 0px;
}

.for_her-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    /* align-items: center; */
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /* padding: 0px 32px */
    /* padding: 0px 23px; */
}
#header-padding{
    padding: 6px;
}
#for_her-middle-mobile {
    display: none;
}

.for_her_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
}

.for_buttons {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    width: 433px;
    height: 58px;
    z-index: 686;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.for_buttons p {
    font-size: 17px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin: 0px;
}

.bottom-text {
    font-size: 24px;
    font-family: "Open Sans Condensed";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 80px
}

.zapisz {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    width: 406px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
}

.zapisz p {
    font-size: 17px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: left;
    margin: 0px;
}

.newslatter_header p {
    font-size: 24px;
    font-family: "Open Sans Condensed";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    height: 25px;
    margin-bottom: 50px;

}

.newslatter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(255, 142, 143);
    padding: 40px;

}

/* for us */
#for-us,
#for-friends {
    background-color: rgb(240, 245, 248);
    color: rgb(241, 107, 108);
    padding: 30px;
}

.for-us_header h1 {
    font-size: 48px;
    font-family: "Open Sans Condensed";
    color: rgb(241, 107, 108);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
}

.for-us_header .header_line {
    border: 1px solid gray;
    margin-top: 20px;
    width: 109px;
    height: 1px;
}

.for-us_header p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(241, 107, 108);
    line-height: 1.5;
    text-align: center;
    width: 40%;
    margin: 38px 0px;

}



.for-us_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
}

.for-us_bottom .for_buttons {
    border-width: 1px;
    border-color: rgb(241, 107, 108);
    border-style: solid;
    width: 433px;
    height: 58px;
    z-index: 686;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.for-us_bottom p {
    font-size: 17px;
    font-family: "Open Sans";
    color: rgb(241, 107, 108);
    line-height: 1.2;
    margin: 0px;
}

.for-us_bottom-text {
    font-size: 24px;
    font-family: "Open Sans Condensed";
    color: rgb(241, 107, 108);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 80px;
}

.for-us_newslatter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 40px
}


.for-us_newslatter .newslatter_header p {
    font-size: 24px;
    font-family: "Open Sans Condensed";
    color: rgb(241, 107, 108);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    height: 25px;
    margin-bottom: 50px;
}

.for_us-zapisz {
    border-width: 1px;
    border-color: rgb(241, 107, 108);
    border-style: solid;
    width: 406px;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px auto;
}

.for_us-zapisz p {
    font-size: 17px;
    font-family: "Open Sans";
    color: rgb(241, 107, 108);
    line-height: 1.2;
    text-align: left;
    margin: 0px;
}

.cookies-info p {
    font-size: 11px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
    margin: 5px;
}

.understand p {
    font-size: 11px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
    height: 10px;
    margin: 0px;

}

.understand {
    border-width: 1px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    width: 97px;
    height: 22px;
}

#cookies {
    background-color: rgb(72, 72, 72);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4px;
    opacity: 0.7
}

.cookies_cancel {
    color: rgb(255, 255, 255);
}

.cookies-wrapper {
    background: #ff8e8f;
}

#footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    height: 284px;
}

.hline-bottom {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 22px;
}

.footer_logo {
    margin-top: 50px;

}

#rozumiem{
    display: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999999999999;
    height: 70px;
}

.video-frame {
    margin-bottom: 105px;
}

/* Squash css on hiver */
.squash_header h1 {
    font-size: 17.202px;
    font-family: "Open Sans Condensed";
    color: rgb(241, 107, 108);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px;
}

.squash_details {
    font-size: 13px;
    font-family: "Open Sans";
    color: rgb(241, 107, 108);
    line-height: 1.2;
    text-align: center;
    text-indent: 2.65px
}

.squash {
    display: none;
}

#squash_image {
    background-color: rgb(255, 241, 241);
    background-image: url('/images/heart.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* hover */

.for_her_card:hover .first_squash {
    display: block;
    height: 100%;
}

.first_squash {
    display: none;
    position: absolute;
    /* bottom: 0;
  left: 0;
  right: 0; */
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    top: 0px;
    cursor: pointer;
}

.center-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* footer  links */

.regulamin-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.regulamin-links li {
    margin-right: 12px;

}

.regulamin-links li a {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 4.286;
    text-indent: 2.65px;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.copy-right p {
    font-size: 12px;
    font-family: "Open Sans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;

}

.footer_logo img {
    margin-left: -28px;
}


/* media querry  */

@media (min-width: 320px) and (max-width: 480px) {
    .main-nav {
        padding: 30px;
        margin: 0px;
    }

    .rss-feed {
        display: none;
    }

    .language {
        padding: 0px 30px;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .language li {
        padding: 12px 17px;
    }

    .info-left p {
        display: none;
    }

    .info-left>h1 {
        font-size: 32px;
        padding-top: 42px;
    }

    .dla_niej {

        background-image: url('/images/dla-niej.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 75px;
        ;
    }

    .dla_nas {

        background-image: url('/images/dla-nas.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .dla_mnie {

        background-image: url('/images/dla-mnie.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .dla_przyjaciol {

        background-image: url('/images/dla-przyjaciol.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .dla_niego {

        background-image: url('/images/dla-niego.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }

    .banner-images {
        margin-top: -74px;
    }

    .navbar-nav li {
        padding: 0px;
    }

    .navbar-nav li::after {
        display: none;
    }

    #for-her_mobile {
        display: none;
    }

    .for_her_card {
        margin-right: 5px;
        /* height: 100%; */
        width: 100%;
        overflow: hidden;
        /* flex: 0 0 33.3333%;
        flex-basis: 22%;
        margin: 30px; */

    }

    .for_her-middle {
        padding: 0px 5px;
        /* margin: 0px -9px; */
    }

    .for_her_card img {
        height: 148px;
        width: 100%;
        height: 125px;
    }

    .for_her_header p {
        display: none;
    }

    .for-us_header p {
        display: none;
    }

    .header_line {
        display: none;
    }

    .for_her_header {
        padding-top: 204px;
        margin-bottom: 41px;
    }


    .for_her_bottom,
    .for-us_bottom {
        margin: 30px -3px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #for_her-middle-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .for_buttons {
        width: 96%;
        margin: 18px 0px 41px 0px;
    }

    .bottom-text {
        margin: 40px 0px;
    }

    .newslatter_header p {
        margin-bottom: 101px;
        margin-top: 30px;
        text-align-last: center;
    }

    .newslatter {
        padding: 12px;
    }

    .zapisz {
        width: 96%;
        margin: 0px;
    }

    .for-us_header {
        margin-bottom: 42px;
    }

    #for-us {
        padding: 0px;
    }

    .bottom-text,
    .for-us_bottom-text {
        font-size: 21px;
        margin: 0px;
    }

    .for-us_newslatter {
        padding: 0px;
    }

    .for-us_newslatter .newslatter_header p {
        margin-bottom: 101px;
        margin-top: 30px;
        text-align-last: center;
        font-size: 20px;
    }


    .for_us-zapisz {
        width: 84%;
        margin: 0px;
        padding: 0px;
    }

    .for-us_bottom .for_buttons {
        width: 96%;
        margin: 18px 0px 40px 0px;
    }

    .text-for-mobile {
        display: none;
    }

    .for_us_header {
        padding: 40px;
    }

    #for-us_newslater {
        margin: 30px 0px 50px 0px;
    }
    #for_me, #for_him,  #for-friends{
        padding: 0px;
    }
    .przyjaciol{
        font-size: 45px !important;
    }
    #rozumiem{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0px auto;
      justify-content: center;
      align-items: center;
    }
    #desktop{
        display: none;
    }
    .cookies_cancel{
        display: none;
    }
    .cookies-info{
        padding: 20px 19px;
    }
    #cookies{
        opacity: 0.9;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #desktop-images{
        display: none;
    }
    #mobile-images{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0px;
    }
    #mobile-images .col{
        margin: 0px;
    }
    #header-padding{
      padding: 0px;
    }

}

@media (min-width: 480px) and (max-width: 1024px){
  .for_her_card{
      flex: 0 0 33.3333%;
      flex-basis: 22%;
      margin: 30px !important;
    }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner-images .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 18%;
          flex: 1 0 18%; /* The important bit. This percentage decides your columns.
 The percent can be px. It just represents your minimum starting width.
  */
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.section .col {
	display: block;
	float:left;
    margin: 1% 0 1% 1.6%;
    padding: 0px !important;
}
.section .col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF SIX  */
.span_6_of_6 {
	width: 100%;
}

.span_5_of_6 {
  	width: 83.06%;
}

.span_4_of_6 {
  	width: 66.13%;
}

.span_3_of_6 {
  	width: 49.2%;
}

.span_2_of_6 {
  	width: 32.26%;
}

.span_1_of_6 {
  	width: 15.33%;
}
